package pages

import (
	"gowatch/internal/models"
	"gowatch/internal/ui/fragments"
)

templ Movie(movie models.MovieDetails, watchRecords models.WatchedMovieRecords) {
	@Layout("movie") {
		@fragments.Movie(movie, watchRecords)
	}
}
