// Package oobwrapper contains the UI component for out-of-band content updates in HTMX responses.
package oobwrapper

templ OOBWrapper(oob string) {
	<div hx-swap-oob={oob}>
		{ children... }
	</div>
}